body{
	background-color: lightblue;
	box-sizing: border-box;
}
.main-title{
	text-align: center;
	display: block;
	margin: auto;
	padding-top: 20px;
	border-radius: 20px;
	width: 300px;
	height: 60px;
	background-image: linear-gradient(70deg,blue,lightblue);
	color: white;
}
.container{
	margin-top: 30px;
	border: 4px solid;
	border-radius: 15px;
	height: 500px;
}
.quiz{
	height: 95%;
	width: 48%;
	margin: 10px;
	border: 3px solid #1E90FF;
    border-radius: 15px;
	float: left;
	background-color: #1E90FF;
}
.result{
	height: 95%;
	width: 48%;
	border: 3px solid #1E90FF;
	border-radius: 15px;
	float: right;
	margin: 10px;
	position: relative;
}
.instruction{
	margin: 25px auto;
	text-indent: 20px;
	width: 75%;
	height: 40px;
	border-radius: 25px;
	padding-top: 5px;
	background-color: #B0C4DE;
}
.instruction label{
	font-weight: bold;
	font-size: 25px;
}
span{
	text-align: center;
	font-size: 20;
	font-weight: bold;

}
input {
	width: 200px;
	height: 40px;
	border-radius: 15px;
    background-color: wheat;
    display: block;
    margin: 10px auto;
    font-size: 15px;
    font-weight: bold;
}
#checkBtn{
   background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 5px auto;
  border-radius: 30px ;
}
#checkBtn:hover{
	background-color: green;
	font-weight: bold;
}
#resultBtn{
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  border-radius: 20px;
}
#resultBtn:hover{
	background-color: red;
}
.next{
	position: absolute;
	bottom: 5px;
	left:  45%;
	background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    border-radius: 20px;
    text-decoration: none;
}
.next:hover{
	background-color: blue;
	font-weight: bold;
}
#result{
	text-align: center;
	font-size:30px;
	font-weight: bold;
	color: green;
	position: absolute;
	bottom: 100px;
	left: 10%;
}
